# Prefix for container names
COMPOSE_PROJECT_NAME=guacamole
# Guacamole client image. Change if you build your own image (read README.md)
GUACAMOLE_CLIENT_IMAGE=canarytek/guacamole-client
# Guacamole proxy (guacd)
GUACD_LOG_LEVEL=info
# guacamole-client loglevel
LOG_LEVEL=info
# MySQL root password
MYSQL_ROOT_PASSWORD=<choose a secure password>
# Guacamole database and credentials
MYSQL_DATABASE=guacadb
MYSQL_USER=guacauser
MYSQL_PASSWORD=<choose a secure password>
# Enable One Time Password 2FA
TOTP_ENABLED=true
# Public port                                                                                                      
PUBLIC_PORT=8080                                                                                                   
